.navbar .nav-link {
    font-size: 0.9rem;
    text-transform: uppercase;
    padding-left: 0.7rem !important;
    padding-right: 0.7rem !important;
}

.navbar .nav-item.active {
    font-weight: bold;
    border-bottom: $warning 3px solid;
} 